# Pyrogram implimantion 
pyrogram==1.4.16
tgcrypto 
aiohttp

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pykeyboard 
captcha
apscheduler
ffmpeg
python-dotenv
aiofiles
pykeyboard
