# Pyrogram implimantion 
Pyrogram==1.2.9
tgcrypto 
aiohttp

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyroaddon
pykeyboard 
captcha
apscheduler
ffmpeg
python-dotenv
aiofiles
pykeyboard
