# Pyrogram implimantion 
pyrogram==2.0.106
tgcrypto 
aiohttp

# Database implimantion
pymongo
dnspython

langdetect
urlextract
requests
emojis
stellagban
pyroaddon
pykeyboard 
captcha
apscheduler
ffmpeg
python-dotenv
aiofiles
pykeyboard
